@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');




* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    border: none;
    transition: all .2s linear;
}


/* us stocks */

h1 {
    text-align: center;
    margin-top: 40px;
}




.stocks {
    display: flex;
    gap: 53px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 80px;
}




.stocks-name {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: #fff;
    text-align: center;
    width: 126px;
    height: 160px;
    cursor: pointer;
    padding: 10px;
}




.stocks-name img {
    width: auto 5px;
    height: 41%;
    margin-top: 12px;
}




p1 i {
    color: green;
    font-size: 16px;
    margin-top: 15px;
}




p2 i {
    color: red;
    font-size: 16px;
    margin-top: 15px;
}




p1,
p2 {
    font-size: 16px;
}




.US {
    display: flex;
    gap: 53px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 80px;
}




.article {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #fff;
    text-align: center;
    width: 350px;
    height: 325px;
    cursor: pointer;
}




.article img {
    height: 197px;
    width: 350px;
    border-radius: 12px 12px 0 0;
}


.article-txt {
    color: #152850;
    text-align: center;
    font-size: 14px;
    padding: 0 20px;
}


.faq {
    margin-top: 50px;
    background-color: #27496D;
}


.faq h1 {
    color: white;
}


details {
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* height:20px; */
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    /* line-height: 52px; */
}




details li {
    list-style: none;
}




details p {
    margin-inline: 40px;
    padding: 10px 0;
    font-size: 18px;
    color: #142850;
}




summary {
    margin-left: 27px;
    padding: 20px 0;
}




.color {
    background-color: white;
    margin-left: 7.2rem;
    border-radius: 12px;
    margin-right: 7.2rem;
}

@media (max-width:991px) {
    .US {
        padding: 0 0px;
    }
}


@media (max-width:768px) {
    .stocks {
        padding: 0 20px;
    }


    details {
        font-size: 14px;
    }


    details p {
        margin-inline: 40px;
        font-size: 14px;
    }
}








@media (max-width:450px) {
    html {
        font-size: 50%;
    }




    .heading {
        font-size: 2.5rem;
    }


    summary {
        margin-left: 15px;
        margin-right: 15px;
        padding: 20px 0;
    }


    details p {
        margin-inline: 20px;
    }


    /*
    .footer{
        text-align: center;
    } */
}

/* home */


/* sip calci */
.contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ABEDD8;
    gap: 50px;
    /* margin-top: 25px; */
    color:#142850;
    padding: 20px 0;
}

.calculator {
    text-align: start;
    padding: 1px 37px;
  width: 40%;
  color: #142850;
  margin-top: 25px;
  background-color: #0C7B93;
}

.heading h2 {
  font-size: 25px;
}

#message {
  font-size: 20px;
  color: #063102;
}

.input-group {
  margin: 20px 0;
}

.input-group label {
  display: block;
}

.input-group input,
.input-group button,
.input-group select {
  width: 70%;
  padding: 12px;
  border: 1px solid #ABEDD8;
  outline: none;
  border-radius: 5px;
}

.input-group button {
 background-color: #142850;
  color: #fff;
}

.results {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.09);
  width: 50%;
  margin: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  color: #0C7B93;
  margin-top: 25px;
}


@media (max-width: 720px) {
    .results {
        width: 350px;
    } 
    
    .contain{
        gap: 30px;
    }}
    
    
    @media (max-width: 1080px) {
    .results{
        width: 380px;
    }
    
    .contain{
        gap: 30px;
    }}
    

@media (max-width:500px) {
    .calculator {
      width:75%;
}

.heading h2 {
    font-size: 22px;
    text-align: center;
}

small{
    font-size: 12px;
    text-align: center;
}
    
.compound-form{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}}


        /* awards section */
        .award-content{
            border-radius: 12px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            margin-top:22px;
            background-color: #fff;
            text-align: center;
            width: 187px;
            height: 180px;
            cursor: pointer;
        }

        .awards-sections{
            display: flex;
            gap: 26px;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 40px;
            padding: 0 40px;
        }

        .award-content img {
            width: 63%;
            height: 51%;
            padding: 11px;
        }

        .award-content:hover {
            transform: scale(1.1);
        }

        .award-content p {
            font-size: 12px;
    margin-top: -7px;
    padding: 0px 4px;
        }

        .award h1{
            color:#142850;
        }

        @media (max-width:500px) {
            .award h1 {
                font-size: 18px;
            }
        }


/* about */




h1 {
    font-size: 27px;
}




#title {
    font-size: 30px;
    color: #152850;
    text-align: center;
}




.sections,
.top-section {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    padding: 47px 151px;
    justify-content: space-between;
    margin-top: -9px;
}




.sections video {
    width: 600px;
    height: 400px;
}




.about {
    text-align: center;
    background-color: #acedd9;
    padding: 20px 0;
}

.about h2 {
    padding: 25px 0;
    font-size: 40px;
    color: #152850;
}

.things {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
}








#f {
    border: 2px solid black;
    justify-content: space-between;
}




#logo {
    margin-top: -10px;
    height: 260px;
    width: 300px;
    background-color: #fff;
    cursor: pointer;
    padding: 12px;
}








.benefit {
    /* border: 2px solid red; */
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #fff;
    text-align: center;
    width: 220px;
    height: 215px;
    cursor: pointer;
    /* border-radius: 12px; */
}




.benefit-section {
    display: flex;
    gap: 53px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    padding: 0 40px;
}




.benefit img {
    width: 70%;
    height: 70%;
    padding: 5px;
}




.benefit:hover {
    transform: scale(1.1);
}




#logo:hover {
    transform: scale(1);
}




.info {
    width: 50%;
}




.benefit p {
    font-size: 19px;
    margin-top: 2px;
}




.info p {
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
    color: #27496D;
    font-weight: 500;
}






/* learn */








h3 {
    text-align: center;
    font-size: 28px;
}


/* Baadme nikal dena */
.temp {
    margin-top: 80px;
}




.learn {
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #fff;
    text-align: center;
    width: 345px;
    cursor: pointer;
    padding: 12px;
}




.learning {
    display: flex;
    gap: 53px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;


}




.learn iframe {
    width: auto;
    height: 70%;
    margin-top: 12px;
    border-radius: 2px;
}




strong {
    font-size: 19px;
}




.learn p1 {
    font-size: 15px;
}




.learn-course {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
}




.course img {
    width: auto;
}


.course li {
    list-style: none;
    margin-left: 15px;
}


.course {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 38rem;
    margin-top: 23px;
    border-radius: 23px;
    background-color: white;
    /* border:2px solid red; */
    margin-bottom: 54px;
}




.course:hover {
    scale: 1.02;
}




.course h2 {
    font-size: 24px;
    margin-top: -47px;
    margin-left: 23px;
}




.course img {
    margin: 0 auto;
    width: 95%;
    height: 35rem;
}




.course p1 {
    margin-top: 31px;
    margin-left: 24px;
    margin-right: 15px;
}




.course p2 {
    margin-left: 24px;
    margin-top: -31px;
    margin-right: 15px;
}




.course-segment h3 {
    color: white;
}




.course-segment {
    background-color: #0C7B93;
    padding: 20px 80px;
    margin-top: 60px;
}


.FAQ {
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 50px;
    background-color: #27496D;
}




.FAQ h1 {
    color: white;
}




.FAQ details p {
    margin-inline: 40px;
    padding: 10px 0;
    font-size: 18px;
    color: black;
}


@media (max-width: 1200px) {
    .course-segment {
        padding: 20px 40px;
    }


    .course {
        width: 30rem;
    }
}


@media (max-width:830px) {
    .course-segment {
        padding: 20px 20px;
    }


    .course {
        width: 35rem;
    }


    .course h2 {
        font-size: 20px;
    }




    .course p1,
    .course p2 {
        font-size: 15px;
    }


    .FAQ h1 {
        font-size: 20px;
    }
}










@media (max-width:1100px) {
    .fd-details img {
        width: 35px;
        height: 35px;
        padding: 0px;
    }


    .fixed-deposit {
        padding: 42px 22px;
    }
}




@media (max-width:920px) {
    .faq h1 {
        color: white;
        font-size: 24px;
    }


    .sections,
    .top-section {
        padding: 30px 40px;
    }


    .info p {
        font-size: 14px;
    }


    #logo {
        margin-top: 14px;
        height: 240px;
        width: 250px;
    }
}




@media (max-width:640px) {


    .sections,
    .top-section {
        flex-direction: column;
        align-items: center;
        padding: 0px 12px;
    }


    .rev {
        flex-direction: column-reverse;
    }




    .info {
        width: 82%;
    }


    .color {
        background-color: white;
        margin-left: 4rem;
        border-radius: 12px;
        margin-right: 4rem;
    }
}




/* FD */


.fd-hero {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 40px 80px;
}


.fd-title {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.fd-title p{
    color:#0C7B93;
    font-size: 16px;
    line-height: calc(1rem + 8px);
}


.apply-steps p {
    font-size: 16px;
    line-height: calc(1rem + 8px);
}


.fd-hero img {
    width: 400px;
}


.apply-steps {
    background-color: #0a2647;
    padding: 20px 0;
    color: rgb(255, 255, 255);
    margin-top: 40px;
}


h5 {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", "Liberation Sans", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.apply-steps p {
    margin-top: 10px;
    color: #dbdada;
}


.sub-title {
    text-align: center;
}


.apply {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    border-radius: 30px;
    margin-top: 25px;
    padding: 20px 0;
}


.l video {
    width: 500px;
}


.r {
    text-align: start;
    margin: auto 0;
}


button {
    border-radius: 8px;
    background-color: gray;
    color: white;
    margin-top: 10px;
    border: none;
    font-size: 20px;
    padding: 5px;
}


h4 {
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", "Liberation Sans", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 22px;
    margin-top: 12px;
    font-weight: normal;
}


.types-fd {
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #fff;
    text-align: center;
    width: 175px;
    height: 150px;
    cursor: pointer;
    padding: 12px;
}




#title-fd {
    font-size: 26px;
    color: black;
    text-align: center;
}




.types-section {
    display: flex;
    gap: 53px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    padding: 0 40px;
    margin-top: 12px;
}

.types-fd img {
    width: 70%;
    height: 70%;
    padding: 5px;
}

.types-fd p {
    font-size: 17px;
    margin-top: 2px;
    color: #0a2647;
    font-weight: bold;
}

.types-fd:hover {
    transform: scale(1.1);
}


@media (max-width: 1080px) {
    .fd-hero img {
        width: 300px;
    }


    .fd-hero {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 40px 0px;
    }


    .fd-title p,
    .apply-steps p {
        font-size: 14px;
        line-height: calc(1rem + 8px);
    }


    .l video {
        width: 380px;
    }


    .apply {
        gap: 30px;
    }

    .apply-steps p {
        margin-top: 8px;
        color: #dbdada;
    }

    button {
        margin-top: 5px;
    }

    .types-section {
        gap: 20px;
        padding: 0 20px;
    }

    .types-fd {
        padding: 5px;
        width: 150px;
    }

    .types-fd p {
        font-size: 14px;
    }
}




@media (max-width: 720px) {
    .fd-title {
        width: 100%;
        justify-content: center;
        align-items: center;
    }


    .fd-hero img {
        width: 300px;
        margin: 0 auto;
    }


    .fd-hero {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        padding: 0px 30px;
    }


    h5 {
        font-size: 24px;
    }


    .fd-title p {
        font-size: 12px;
    }


    .apply-steps p {
        font-size: 14px;
        line-height: calc(1rem + 8px);
    }

    .l video {
        width: 350px;
    }


    .apply {
        gap: 30px;
    }


    .apply-steps p {
        margin-top: 12px;
        color: #dbdada;
    }


    button {
        margin-top: 5px;
        font-size: 18px;
    }


    .types-section {
        gap: 20px;
        padding: 0 20px;
    }


    .types-fd {
        padding: 5px;
        width: 150px;
    }


    .types-fd p {
        font-size: 14px;
    }
}

/* footer */

.footer{
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    justify-content: space-around;
    margin-top: 80px;
}

.finology {
    margin-top: 20px;
    margin-bottom: 20px;
}

.finology p{
    font-size: 19px;
    margin-top: 14px;
}

.finology a{
    color:black;
    list-style: none;
    text-decoration: none;
}

.row img {
width: 90%;
margin-top:-3px;
}

.flex {
    display: flex;
    margin-top: 7px;
    gap: 14px;
    font-size: 21px;
    margin-left: 2px;
}

.finology h1{
    font-size: 21px;
    display: flex;
    margin-top: 13px;
}

.footer-1{
    margin-left:11px;
}


/* sign up and login */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #1d2c46;
  border-color: #4481eb;
}

.btn {
  width: 150px;
  background-color: #46CDCF;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #05193c;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #27496D 0%, #00A8CC 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 1rem;
  padding: 1rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size:1.1rem;
}

.btn.transparent:hover{
    border:2px solid black;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 1rem;
    padding: 1rem 0;
  }

  
  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}



@media (max-width:450px){
.btn.transparent {
    font-size: 1.5rem;
} 

.panel h3 {
    font-size: 1.7rem;
}

.panel p {
    font-size: 1.5rem;
    padding: 1rem 40px;
}}




/* navbarsss */

   

:root {
    --bg-color: #0f295d;
    --text-color: #ffffff;
    --second-color: #000000;
    --main-color: #081737;
    --green-color: rgb(25, 179, 25);
}
#navbar {
    display: flex;
    background-color: var(--main-color);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    top: 0;
    left: 0;
    list-style: none;
    position: sticky;
    padding: 20px 40px;
}

#navbar img {
    width: 120px;
    background-color: white;
    padding: 10px;
}

#navbar .nav-links {
    display: flex;
    justify-content: space-around;
}

#navbar #mobile i {
    color: white;
    padding-right: 20px;
}

#navbar .nav-links ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    list-style: none;
}

#navbar li {
    padding: 0 20px;
}

#navbar ul a {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: 0.2s all ease;
}

#navbar li a:hover {
    color: #f5f7f9;
}

#navbar .active {
    color: var(--main-color);
    padding: 10px 15px;
    background-color: white;
    border-radius: 8px;
}

#mobile {
    display: none;
}

#logIn {
    background-color: var(--green-color);
    color: var(--bg-color);
    border-radius: 40px;
    padding: 15px 20px;
}

#signIn {
    background-color: #0561ff;
    color: var(--bg-color);
    border-radius: 40px;
    padding: 15px;
}

@media (max-width: 960px){
    #navbar .navLink {
        position: absolute;
        top: -500%;
        right: 2%;
        width: 270px;
        height: 50vh;
        background-color: var(--main-color);
        flex-direction: column;
        border-radius: 10px;
        transition: 0.4s all ease;
        padding: 20px 10px;
    }

  #logIn {
        background-color: transparent;
        padding: 0px 0px;
    }

    #signIn {
        background-color: transparent;
        padding: 0px 0px;
    }

    #navbar .open {
        top: 112%;
    }

    #navbar .nav-links ul li {
        display: block;
        margin: 10px 0
    }
}

@media (max-width: 420px) {
    #navbar {
        padding: 20px 20px;
    }
}

@media (max-width: 960px){
    #mobile {
        display: block;
        font-size: 25px;
    }}
